<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#prework">Prework</a></li>
            <li><a href="#lecture">Lecture</a></li>
            <li><a href="#project">Solo and Group Project</a></li>
            <li><a href="#after">After Camp</a></li>
            <li><a href="#admin">admin</a></li>
            <li><a href="#profile">profile</a></li>
            <input type="text" ng-model="myController.myTextInput" />
        </ul>
    </div>
</div>
