.nav-wrapper{
    background-color: #9E9E9E;
}

/*.brand-logo {
    font-family: 'Montserrat Subrayada';
}*/

/*.brand-logo {
    font-family: 'Bungee Outline';
}*/

/*.brand-logo {
    font-family: 'Monoton';
}*/

.brand-logo {
    font-family: 'Plaster';
}